<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Productivity</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body onload="ondisplay5()">
<script src="/static/js/script5.js"></script>
  <header>
    <div class="article5">
      <div class ="topnav">
        <a href="/index">Home</a>
        <a href="/contact">Contact</a>
        <a href="/about">About Me</a>
    </div>
    </div>
  </header>
  <div id = "a5">
    <h1 class = "articleheader">What Productivity Systems Won't Solve</h1>

    <h2 class = "articleheader">By Leo Babauta</h2>

    <p>If you're like me, you're always looking for the perfect productivity system. Unfortunately, it doesn't exist.</p>

    <p>The problem isn't with the productivity system — the problem is that none of them can solve a few really important<br> (and related) problems:</p>

    <ol>
    <li class="list1">Procrastination</li>

    <li class="list1">Fear of uncertainty</li>

    <li class="list1">Fear of discomfort</li>
    </ol>

    <p>For example, at the top of my to-do list today is "write Zen Habits post" and "write intro to declutter course"... pretty<br> simple, right? Two fairly straightforward tasks. But as I started this post, I went to check and respond to email, sent a<br> message to my wife, checked on my finances, cleaned the kitchen a little. I'm super productive at the little things<br> when I'm putting off the big tasks!</p>

    <p>No matter how good the productivity system is, <em>it falls apart when I start procrastinating.</em></p>

    <p>When a task is uncomfortable, I procrastinate, just like most people. When I'm facing a lot of uncertainty with a task, I<br> procrastinate. Like most of us.</p>

    <p>Often, we'll work on a new productivity system, try out a new to-do list app, start organizing, or start getting our<br> email inbox to zero, or start reading about a new way to be productive (like you are now)... <em>all as a way to<br> procrastinate on uncertain or uncomfortable tasks.</em></p>

    <p>And it's so much easier to follow the path of distractions and little tasks, than to face a big important but scary task.><br> It's easy to go to your bank's website to check your balance, check on your favorite blogs and news sites, pop open<br> your favorite social media network, and so on. These have no barrier to entry, and always give you some reward, while<br> difficult tasks give you negative feedback and have obstacles to getting started. Not a fair fight, huh?</p>

    <p>So how do we deal with this? A few important methods:</p>

    <ol>
    <li class="list1"><strong>Take a step back.</strong> You have to get away from the distractions and little tasks. Step away from the computer, and<br> go outside, go for a walk, take a shower, meditate, or just sit doing nothing for one minute. That's all it takes. Step<br> back and think about what you should be doing right now, rather than what's easiest and most tempting.<br></li>

    <li class="list1"><strong>Remember who you're doing this for.</strong> As you step back, think about the person who will benefit from you doing<br> this important task. Is it a co-worker, client, customer, loved one? Is it you? How will it make their life better?<br> Maybe it'll make something easier for them, but maybe it'll solve a real pain point or meet an important need. I've<br> found that I procrastinate when I'm focused on my own comfort, but push through procrastination when I'm<br> focused on helping others.<br></li>

    <li class="list1"><strong>Let yourself dive into the discomfort.</strong> Clear away distractions, just have what you need to do this one task, and<br> allow yourself to be uncomfortable for a few minutes. Yes, it sucks, but it's actually not that bad once you get<br> started. It's like diving into cold water — just dive in, don't think about it. Once you're in, relax into the discomfort,<br> and see that it's not as bad as you feared.<br></li>

    <li class="list1"><strong>Embrace the uncertainty.</strong> A lot of time it's a fear of uncertainty that holds us back. We don't know how to do<br> something, or how things will turn out, and that freaks us out a bit. We don't want to work on something like that,<br> or even think about it. We avoid and procrastinate and rationalize. Instead, see uncertainty as a necessary part of<br> life (who wants a life where you know how everything would turn out? super boring)... and see it as an exciting<br> part of life, one that is filled with wonder, curiosity, learning, exploration and adventure. Instead of looking at<br> uncertainty as a bad thing, embrace it and see if you can get good at exploring it. Like discomfort, dive in and<br> relax into it.<br></li>

    <li class="list1"><strong>Do it in little bits.</strong> Yes, uncertainty and discomfort can be difficult. So don't kill yourself trying to master them...<br> just do it in small doses. Work on the task for just a few minutes, then walk around and take a break. Then sit<br> down and focus again, relaxing into the discomfort and uncertainty. Repeat.<br></li>
    </ol>

    <p>With this kind of mindful practice, you're training yourself to get good at discomfort and uncertainty. This is a<br> wonderful skill to get good at!</p>

    <p>And in the end, not only will you be facing down the most difficult aspect of productivity, you'll be doing something<br> good for others in the process.</p>
  </div>
  <br>
  <br>
  <br>
  <h2 class = "commentheader">COMMENTS</h2>
  <div id ="commentdisplay">
  </div>

  <div id="respond">

  <h3 class ="commentheader">Leave a Comment</h3>

  <form id="commentform">

    <label for="comment_author" class="required">Your name</label>
    <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">

    <label for="comment" class="required">Your message</label>
    <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
    <button onclick="append5(); return false;">
      Submit comment
    </button> 
  </form>

  </div>

  <div class="container-fluid all" style="margin-left:30%">
    <div class="row well">
      <div class="col-md-12 " id="city">
        <h2 class="text-center">Weather for</h2>
        <h2 class="text-center data-item" id="city-text"></h2>
      </div>

      <div class="row">
        <div class="col-md-4 " id="weather">
          <img src="" id="weatherImg" class="center-block">
          <h3 class="text-center data-item" id="weather-text"></h3>
        </div>
        <div class="col-md-4 " id="temp">
          <h3 class="text-center">Temperature</h3>
          <h3 class="text-center data-item" id="temp-text"></h3>
          <div class="checkbox text-center">
            <label><input type="checkbox" id="tempMode" value="2">
          C&deg
        </label>
          </div>
        </div>
        <div class="col-md-4 " id="wind">
          <h3 class="text-center">Wind Speed</h3>
          <h3 class="text-center data-item" id="wind-text"></h3>
        </div>
      </div>
    </div>
  </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

  <footer>
    <div class="footer-social-icons">
    <h4 class="_14">Follow us on</h4>
    <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
    </div>
  </footer>
</body>
</html>