<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>8 expermients</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body onload="ondisplay()">
  <script src="/static/js/script.js"></script>
  <header>
    <div class="article1">
      <div class ="topnav">
        <a href="/index">Home</a>
        <a href="/contact">Contact</a>
        <a href="/about">About Me</a>
    </div>
    </div>
  </header>
    <div id="a1">
    <h1 class = "articleheader">8 Experiments in Motivation</h1>
    <h2 class = "articleheader">By Leo Babauta</h2>
    <p>
     I was talking to a 19-year-old recently and he has been struggling with motivation.<br>
     <br>
     His problem goes like this: he gets excited about starting a project or plan, and is very motivated at the start... but <br> after a few days, that feeling dies down, and he starts procrastinating.<br>
     <br>
     He really does want to do the project or follow through on the plan, but the motivation inevitably drops away.<br>
     <br>
     I told him this is something he should devote some effort to figuring out, because <strong>very few problems are as <br> important to solve as this one.</strong><br>
     <br>
     I suggested <strong>experiments in motivation </strong>. Every person is motivated differently (and in fact, that can shift), so finding <br> methods that motivate you personally is a matter of experimenting.<br>
     <br>
     I'm writing this post for him, and anyone else who might want to try these experiments.<br>
     <br>
     How does it work? You <strong>try each experiment for a week, and note the results.</strong> After a couple months of doing this,<br> you know more about your personal motivation style than ever before.<br>
     <br>
     Here are eight motivation methods you could try:
     <br>
    </p>
    <ol>
      <li class="list1"><strong>Un-ignorable Consequences.</strong> Set a deadline for the task(s) you want to complete, and a consequence you won't <br> be able to ignore. It's best to share this deadline and consequence with an accountability partner or publicly. <br> Example: I post on Facebook I'm going to write 1,000 words in my book every day this week, or I can't watch TV <br> for a week. (That only works if you really care about the consequence.) Another example: if I don't write my first<br> chapter by Saturday at midnight, I have to donate $200 to Donald Trump (or whichever candidate you don't like)<br> and post about it publicly. The idea is that the consequence should be embarrassing and something you can't<br> just ignore.<br>
      <br>
      </li>
      <li class="list1"><strong>Completion Compulsion.</strong> Many people, myself included, have a strong desire to complete a list. For example, if <br> you've watched 15 out of 20 episodes of a show, you might really want to finish watching the show. This is <br> "completion compulsion," and I think everyone experiences it sometime — especially if finishing the list seems <br> doable. So the method is this: make a list of 10 small actions (10 minutes or less to complete) that you want to <br> finish this week on a certain project, or 5 small actions you want to finish each day, and make it your goal to finish<br> the list. You could combine this with the un-ignorable consequences method (if I don't finish my list each day, I <br> can't have wine).<br>
      <br>
      </li>
      <li class="list1"><strong>A Powerful "Why".</strong> Understand the deeper reasons you want to complete this goal or accomplish this task. It <br> should be a reason that really resonates with you, that you deeply want to achieve. Now write your "Why" in a <br> phrase (like, "compassion for myself" or "to help others in pain"), and post it somewhere visible, so you won't <br> forget it.<br>
      <br>
      </li>
      <li class="list1"><strong>Get Excited Daily.</strong> It's easy to be excited about a project or goal when you first start, but that dies out. So renew <br> it! Each day, start by setting a goal for the day that you can accomplish and that you care about. Find inspiration,<br> visualize your accomplishment, find some music that motivates you, find an inspirational quote or video …<br> anything to get you excited to accomplish your goal for the day!<br>
      <br>
      </li>
      <li class="list1"><strong>Focus on Being True to Your Word.</strong> One of the most important things in life is to be trusted, to have people<br> believe that when you say you're going to do something, you'll do it. If people don't trust in that, you won't have<br> good relationships, romantically, with friends, or at work. Imagine hiring someone and not knowing if they're<br> going to show up, or do the work if they do show up. So you should make it one of your priorities in life to live the<br> motto, "Be True to Your Word." That starts with small things: tell someone you're going to do a small task that will<br> only take 10-30 minutes. Then do it. Repeat this several times a day, building other people's trust in you and your<br> own trust in yourself. Post the motto somewhere you won't forget it.<br>
      <br>
      </li>
      <li class="list1"><strong>Find a Group.</strong> Humans are social animals, and you can use that to your advantage. Create an accountability <br> group of friends or colleagues who want to achieve a goal or finish a project. Agree to set daily or weekly targets<br>, and check in with each other daily or weekly (form a Facebook group or subreddit, perhaps). Set rewards and/or<br> embarrassing consequences for hitting or missing the targets. Have weekly "winners" for those who did the best<br> at their targets. Encourage each other and help each other when someone is faltering.<br>
      <br>
      </li>
      <li class="list1"><strong>Focus on a Sense of Achievement.</strong> With every task you complete, pause at the end of it to savor your feeling of<br> accomplishment. This is a great feeling! Share your victory with others. Savor the feeling of building trust in<br> yourself. As you start a task, think about how good you'll feel when you accomplish it.<br>
      <br>
      </li>
      <li class="list1"><strong>Small Starts, Quick Rewards.</strong> Create a system where you have to do short tasks (just 10 minutes) and you get a<br> small reward at the end of it. For example, I just need to write for 10 minutes, then I get to have my first coffee of<br> the day. Or I clear my email inbox for 10 minutes, and then I get to check my favorite sites for 5 minutes. Don't let<br> yourself have the reward unless you do the task! The smaller the task, the better, so you won't delay starting.<br>
      </li>
    </ol>
    <p>
      OK, these are eight experiments, but you might think of others, like the Seinfeld Method or the Pomodoro Technique.<br> All that matters is that you try the experiments, and note the results. At the end of each weekly experiment, write a<br> brief review of how it went. Rate your productivity on a scale of 10. Then try another experiment.<br>
      <br>
      At the end of these, you'll have tried a bunch of great methods, and figured out what helps you most. You might<br> combine methods, or use different ones at different times. And maybe after all of this, you'll have a trust in yourself<br> that's so strong, you don't need any methods!<br>
      <br>
    </p>
  </div>
  <br>
  <br>
  <br>
  <h2 class = "commentheader">COMMENTS</h2>
  <div id ="commentdisplay">
  </div>

  <div id="respond">

  <h3 class ="commentheader">Leave a Comment</h3>

  <form id="commentform">

    <label for="comment_author" class="required">Your name</label>
    <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">

    <label for="comment" class="required">Your message</label>
    <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
    <button onclick="append(); return false;">
      Submit comment
    </button> 
  </form>

</div>

  <div class="container-fluid all" style="margin-left:30%">
    <div class="row well">
      <div class="col-md-12 " id="city">
        <h2 class="text-center">Weather for</h2>
        <h2 class="text-center data-item" id="city-text"></h2>
      </div>

      <div class="row">
        <div class="col-md-4 " id="weather">
          <img src="" id="weatherImg" class="center-block">
          <h3 class="text-center data-item" id="weather-text"></h3>
        </div>
        <div class="col-md-4 " id="temp">
          <h3 class="text-center">Temperature</h3>
          <h3 class="text-center data-item" id="temp-text"></h3>
          <div class="checkbox text-center">
            <label><input type="checkbox" id="tempMode" value="2">
          C&deg
        </label>
          </div>
        </div>
        <div class="col-md-4 " id="wind">
          <h3 class="text-center">Wind Speed</h3>
          <h3 class="text-center data-item" id="wind-text"></h3>
        </div>
      </div>
    </div>
  </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

  <footer>
    <div class="footer-social-icons">
    <h4 class="_14">Follow us on</h4>
    <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
    </div>
  </footer>
</body>
</html>