<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Good Writer</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body onload="ondisplay4()">
<script src="/static/js/script4.js"></script>
  <header>
    <div class="article4">
      <div class ="topnav">
        <a href="/index">Home</a>
        <a href="/contact">Contact</a>
        <a href="/about">About Me</a>
    </div>
    </div>
  </header>
  <div id = "a4">
    <h1 class = "articleheader">Training to Be a Good Writer</h1>
    <h2 class = "articleheader">By Leo Babauta</h2>
    <p>I'm not going to claim to be the world's greatest writer, but I do think I'm reasonably competent. I've been training for<br> 25 years, and I make a living as a writer.<br>
    </p>
    <p>For those who are just starting out as writers, I'd like to share my training. I didn't wake up and suddenly know how to<br> write -- I've been training for most of my life.<br>
    </p>
    <p>A short background on my writing career: I started out as a sportswriter, as a senior in high school, and eventually<br> became a full-time reporter and then editor for my local paper on Guam. I went on to do freelance writing for<br> magazines and other publications, worked for awhile as a bill writer for lawmakers and a speechwriter for the Guam<br> governor. Eventually I started my own blog while doing freelance blogging for about 5 different blogs. Finally, I've<br> written my blog for almost 10 years now, and have written numerous books and courses.<br>
    </p>
    <p>Here are the most important aspects of my training, in no particular order:</p>

    <ul>
    <li class="list1"><strong>Write every day.</strong> I write pretty much every single day. Not just once or twice a week, but every day. In various<br> forms: for my blog, for my Sea Change Program, or for a new book or course I might be creating. This is perhaps<br> the most important thing I've done in these 25 years, because constant practice has smoothed out the rough<br> edges a bit, and made the difficult obstacles a lot less scary. I recommend doing a daily or every-other-day blog.<br><br></li>

    <li class="list1"><strong>Learn to overcome the resistance.</strong> Every writer faces the resistance that keeps them from writing, the<br> procrastination urge that pushes them toward distraction and busywork. I'm not immune, but I've learned to face<br> the resistance instead of running from it. I've learned not to be so scared of it. I've learned to just get started<br> without thinking too much about it. If resistance is stopping you from writing every day, face it down and don't<br> back away.<br></li>

    <li class="list1"><strong>See writing as a mindfulness practice.</strong> I see writing as a form of meditation, where I can let everything else fall<br> away for a few moments and just stay with this one activity. It means I need to get my mind into the writing space,<br> notice when the urge to go to distraction comes up, and not just automatically follow the urge. I can look within<br> myself and let feelings flow out through the written word, or see the truths within me and try to channel those<br> onto the page.<br></li>

    <li class="list1"><strong>Do timed writing sessions.</strong> Just as you might set a timer for meditation, it's beautifully helpful to set a timer for<br> writing sessions. For example, you might do a 10-minute session, just letting the words flow and trying to stay<br> mindful during that 10 minutes. Know it's a limited time allows you to let go of some of your fears and just be<br>present with the writing.<br></li>

    <li class="list1"><strong>Learn to deal with the fears.</strong> All writers grapple with fears -- fears of failure and not being good enough, fear of<br> discomfort and uncertainty and going into places that scare us. Some let the fears stop them from starting, or<br> keep them away from the writing, or running to distraction. But I've found it useful to learn to stay with the fears,<br> and write anyway. Yes, you can be very uncomfortable and filled with uncertainty, and still write. You can sit with<br> the fear for a minute, and then start writing. These fears are scary, but they're not so bad when you allow yourself<br> to face them.<br></li>

    <li class="list1"><strong>Care about the craft.</strong> A writer crafts words, and so should care about them. That means trying to get good at<br> spelling and grammar, the basics of writing. That doesn't mean you'll never have typos, but it does mean you'll <br> constantly try to get better at the basics. You wouldn't be a carpenter without learning how to hammer and saw,<br> would you? When you're done writing, run it through a spell check and try to learn the words you missed. Look up <br> words often in a dictionary. Let a friend proofread your work and try not to make the same mistakes over and over<br> again. Pick up the AP or Chicago style manual and learn some of the more common styles, and try to be<br> consistent.<br></li>

    <li class="list1"><strong>But get over perfectionism.</strong> That said, don't let your lack of knowledge of the basics of writing stop you. Just<br> write. You'll learn as you go, with constant practice and care. In the meantime, you want to let go of any ideals<br> you might be holding for yourself, ideals that might be holding you back. Dive in, and just do it. Publish your first<br> or second drafts, without needing it to be perfect. Typos aren't such a big deal.<br></li>

    <li class="list1"><strong>Learn to type.</strong> This isn't required, of course, but knowing how to touch-type is a good skill for a writer. It doesn't<br> take long to master -- there are programs online that will teach you the basics and drill it into you, and within a<br>month you'll be not so horrible. After a year, you'll be a master. It helps you to get the words out of your head<br> faster if you can type at a decent rate.<br></li>

    <li class="list1"><strong>Learn to write on deadline.</strong> One of the most valuable skills I learned as a newspaper reporter was how to write<br> on deadline. Every day, we had to submit one or more articles (sometimes five or six of them!), and we had an<br> editor breathing down our necks, trying to meet her own submissions deadlines. There's pressure, but what you<br> learn is that you can get the article done on time, if you focus. You learn not to worry about perfection, not to let<br> the fears get in the way, and just to get the words out. And how to revise quickly. If you don't work for a<br> newspaper, set a deadline for yourself, tell it to someone else, send them your writing by the deadline or suffer a<br> consequence.<br></li>

    <li class="list1"><strong>Read a lot.</strong> The best writers (those far better than me) read voraciously. I read all the time -- fiction is my<br> favorite, but I also read non-fiction books and long-form articles online. Reading good writing shapes your own<br> writing, giving you inspiration and expanding your use of language. Read a lot!<br></li>

    <li class="list1"><strong>Steal from others.</strong> When you find a writer who does something beautifully, rip them off. Try it in your own writing,<br> mix it in with what you already do, remix it with what you find elsewhere, and make it your own.<br></li>

    <li class="list1"><strong>Keep notes on writing.</strong> When you find something worth stealing, add it to a text doc or put it in a writing<br> notebook. When you have ideas for a novel, a blog post, a character, an insight... add it to the notebook. Mine it<br> regularly.<br></li>

    <li class="list1"><strong>Find fellow writers.</strong> If you're having trouble sticking to a writing schedule, find other writers in your area or<br> online, and meet with them regularly. Share your writing with each other, discuss problems you're having, read<br> other writers in your genre. A small writing group is a time-tested tool, and helps you see that you're not in this<br> alone.<br></li>

    <li class="list1"><strong>Understand the reader.</strong> Another of the most important things I learned as a newspaper reporter was to<br> understand the mindset of the reader. Many beginning writers just write whatever is in their heads, but then it<br> might not be so understandable or interesting to the reader. These days I think in terms of how the reader will<br> understand the article, what context they need, how clear my sentences are, what experience I'm creating for the<br> reader.<br></li>
    </ul>

    <p>So that might seem like a lot to take on! It's doable, though, if you just keep churning away, every day, and learn all of this a little at a time.</p>

    <p>A few points I'd like to make for those who'd like to write:</p>
    <ul>
      <li class="list1"><strong>Anyone can write, and everyone should.</strong> You don't have to be James Joyce to<br> write. Even if you never want to be a pro, you can write in a journal every day, or write letters to a loved one (and send them or not). You don't<br> have to be polished. And it's a great practice, to learn to focus and overcome fears and procrastination, and learn<br> to allow the words to flow from the mind.<br></li>

      <li class="list1"><strong>Start where you are.</strong> Whether you've been writing for a few years or you're just starting out, whether you have a<br> talent for words or you struggle, that is the place to start. It doesn't matter where you are, or how you compare to<br> others -- just write, working with whatever you're struggling with. You'll get better over the course of time, and<br> more comfortable with what you're doing.<br></li>

      <li class="list1"><strong>You get good by doing it a lot, and caring.</strong> You'll never be perfect at it -- goodness knows I'm far from perfect --<br> but the only way to get better is to practice. And to care about what you're doing. Do that every day, and every<br> step of the struggle will be an amazing one.<br></li>
    </ul>
  </div>
  <br>
  <br>
  <br>
  <h2 class = "commentheader">COMMENTS</h2>
  <div id ="commentdisplay">
  </div>

  <div id="respond">

  <h3 class ="commentheader">Leave a Comment</h3>

  <form id="commentform">

    <label for="comment_author" class="required">Your name</label>
    <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">

    <label for="comment" class="required">Your message</label>
    <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
    <button onclick="append4(); return false;">
      Submit comment
    </button> 
  </form>

  </div>

  <div class="container-fluid all" style="margin-left:30%">
    <div class="row well">
      <div class="col-md-12 " id="city">
        <h2 class="text-center">Weather for</h2>
        <h2 class="text-center data-item" id="city-text"></h2>
      </div>

      <div class="row">
        <div class="col-md-4 " id="weather">
          <img src="" id="weatherImg" class="center-block">
          <h3 class="text-center data-item" id="weather-text"></h3>
        </div>
        <div class="col-md-4 " id="temp">
          <h3 class="text-center">Temperature</h3>
          <h3 class="text-center data-item" id="temp-text"></h3>
          <div class="checkbox text-center">
            <label><input type="checkbox" id="tempMode" value="2">
          C&deg
        </label>
          </div>
        </div>
        <div class="col-md-4 " id="wind">
          <h3 class="text-center">Wind Speed</h3>
          <h3 class="text-center data-item" id="wind-text"></h3>
        </div>
      </div>
    </div>
  </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

  <footer>
    <div class="footer-social-icons">
    <h4 class="_14">Follow us on</h4>
    <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
    </div>
  </footer>
</body>
</html>