<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Shift of Focus</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body onload="ondisplay2()">
<script src="/static/js/script2.js"></script>
  <header>
    <div class="article2">
      <div class ="topnav">
        <a href="/index">Home</a>
        <a href="/contact">Contact</a>
        <a href="/about">About Me</a>
    </div>
    </div>
  </header>
  <div id="a2">
  <h1 class = "articleheader">A Mindful Shift of Focus</h1>
  <h2 class = "articleheader">By Leo Babauta</h2>
  <p>
    Throughout the day, we get frustrated, irritated, angry.<br>
    <br>
    We are frustrated in traffic, when a loved one doesn't behave the way we like, when someone tells us we're wrong <br>, when technology doesn't work the way we want, when dinner is ruined, among many other daily stresses.<br>
    <br>
    These frustrations can build up into unhappiness, relationship problems, work problems, built up stress, blowing your<br> top at someone when you lose your cool. Not always helpful stuff!<br>
    <br>
    I'm going to suggest a mindful shift in focus to deal with frustrations.<br>
    <br>
    It's a mindfulness practice, and I highly recommend it. We'll start by talking about where frustration comes from, then<br> how to mindfully shift.<br>         
    <br>
  </p>
  <h3 class="subheader">Mindfulness of Frustration</h3>
  <p>
    The next time you experience frustration, just notice it. Just be mindful that you're unhappy with something or<br> someone, that you're feeling frustration in your body somehow.<br>
    <br>
    Pay attention to your breathing, to tightness in your chest or shoulders, to how it feels in your body. Stay with the<br>feeling for just a couple moments, if you have the courage to do so. Normally, we run like hell from paying attention to<br> this feeling, and try to resolve it by fixing the situation, making people behave differently, distracting ourselves, etc.<br> But stay with it if you can.<br>
    <br>
    Now notice what it is in this moment that you wish were different. What is missing from this moment that is frustrating<br> you?<strong> Frustration stems from what you don't have.</strong><br>
    <br>
    What do I mean by this? There's something you don't have right now, that you wish you had, and that lack of what you<br> want is frustrating you. A few examples:<br>
  </p>
  <ul>
    <li class="list1">My child isn't behaving the way I want her to... what I don't have is "ideal" behavior from her. (Actually, it's my<br> ideal, not hers.)<br>
    <br>
    </li>
    <li class="list1">
      My computer keeps crashing, and I'm frustrated... what I don't have is a computer that behaves ideally.<br>
      <br>
    </li>
    <li class="list1">
      People are saying things online that irritate me... what I don't have is a bunch of people who agree with me or<br> behave in the way I want.<br>
      <br>
    </li>
    <li class="list1">
      My spouse criticized me... what I don't have is someone who thinks I'm an awesome husband right now, or their<br> praise.<br>
    </li>
  </ul>
  <p>
    Those are just examples, but in all cases, there's something that's missing that I want. Usually it's an ideal.<br>
    <br>
    To start with, just be mindful that you're frustrated, try to experience the feeling in your body, and then notice what it<br> is you're missing that's frustrating you.<br>
    <br>
  </p>
  <h3 class="subheader">Mindfulness of Your Story</h3>
  <p>
    When we're missing something we want, and we're frustrated, irritated, angry... we often spin the story around in our<br> heads for awhile. "It's so irritating when he acts this way," or "Why can't she just be more..."<br>
    <br>
    We get caught up in this story, stuck on it, attached to it. We wish things were different, wish other people would<br> behave differently, wish people could see that we're right.<br>
    <br>
    It's easy to get caught up. It's not so easy to notice that we're caught up, when it happens. But if you can notice it,<br> just notice that you're telling yourself a story about this situation. It's a story about how you wish things were<br> different, how things aren't how you want them to be.<br>
    <br>
    Sit and watch yourself get caught up in this story. Sit and stay with the feelings it produces.<br>
    <br>
    Then see if you can notice that the story isn't so solid. It's not so real. It's more of a dream that you're in. Can things<br> lighten up if you notice the dreamlike nature of this story?<br>
    <br>
  </p>
  <h3 class="subheader">Mindfulness of What Is Already Here</h3>
  <p>
    If we're focusing on what we don't have, and it's frustrating us... then the opposite just might help us.<br>
    <br>
    The antidote to frustration is appreciating what's already here, in this moment.<br>
    <br>
    That might not seem true when frustration arises, because the truth is, we just want things to be our way. We just<br> want other people to act the way we think they should act, or want life to go the way we want it to go.<br>
    <br>
    Unfortunately, that is usually not going to be the case. Sometimes we can force people to act the way we want, if we<br> have power over them, but that will create a bad relationship with them, and in the end, neither person will be happy.<br>
    <br>
    What I've found to work is focusing on what I can appreciate about this moment. Let's take the examples from above:<br>
  </p>
  <ul>
    <li class="list1">
      I'm frustrated by my child's behavior... I can breathe, and appreciate things about this moment: my child is<br> actually a wonderful person, who might not behave perfectly all the time (who does?), who is alive! And in my life!<br> And I love her deeply.<br>
      <br>
    </li>
    <li class="list1">
      My computer keeps crashing... I can breathe, and appreciate the fact that I have a computer at all, that all my<br> needs are met, that I have people in my life who love me. I can appreciate the break from the computer and<br> stretch, notice the awesome things around me.<br>
      <br>
    </li>
    <li class="list1">
      People say irritating things online... I can breathe, and appreciate: I get to read amazing things online! I'm alive!<br> People are diverse and interesting and messy, and I love humanity for that precious fact.<br>
      <br>
    </li>
    <li class="list1">
      Traffic is backed up... I can breathe, and appreciate the fact that I can listen to some beautiful music in the car, or<br> that I have some transition time between work and home when I can reflect on life, or that I have a home to come<br> back to, or that I'm driving past some beautiful scenery.<br>
      <br>
    </li>
    <li class="list1">
      My spouse criticized me... I can breathe, and appreciate: she's a great spouse, and a person with a different way<br> of doing things, and I'm happy to have her in my life. And maybe she's frustrated herself, and could use a hug.<br>
      <br>
    </li>
    <li class="list1">
      This doesn't mean we should only "think positive thoughts"... quite the contrary, noticing our negative thoughts and<br> staying present with them is important. We can't avoid the frustration, but we can be mindful of it, and this mindful<br> shift to appreciation of what is can be helpful.<br>
      <br>
    </li>
  </ul>
  <h3 class="subheader">Frustration in the Midst of Injustice</h3>
  <p>
  I should note that none of this means we should accept abuse or injustice as "OK." I know that there are incredibly<br> frustrating things about the world today, and that violence, protests, anger, and strife are all around us.<br>
  <br>
  This mindful shift I'm suggesting isn't a solution to all of that. It isn't a suggestion that you should just be happy with<br> your lot, or accept the world as it is without wanting change.<br>
  <br>
  No, I think if there is abuse or injustice, we should compassionately try to correct these tragedies. But learning to deal<br> with our frustrations, in the midst of all this, can actually help the situation. If we can't deal with our frustrations, then<br> we're increasingly likely to act in anger and violence, and that isn't useful.<br>
  <br>
  There's another way: recognize the injustice, be mindful of your frustrations, appreciate life in the present moment to<br> calm your frustrations... then compassionately engage with everyone else to work on righting the injustice. Have a<br> love-driven dialogue with everyone else, rather than fear-based or anger-driven interactions. Stand up to abuse, but<br> that doesn't mean throw a brick in anger.<br>
  <br>
  I don't have the answers, and my heart goes out to all who are grieving, afraid, hurt, feeling helpless, fed up,<br> frustrated or angry. My only hope is that in the middle of all this sorrow, we can appreciate the gift of life that we've<br> been given, and find love for our fellow human beings despite all their flaws and messiness.<br>
  <br>
  </p>
  <hr>
  </div>
  <br>
  <br>
  <br>
  <h2 class = "commentheader">COMMENTS</h2>
  <div id ="commentdisplay">
  </div>

  <div id="respond">

  <h3 class ="commentheader">Leave a Comment</h3>

  <form id="commentform">

    <label for="comment_author" class="required">Your name</label>
    <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">

    <label for="comment" class="required">Your message</label>
    <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
    <button onclick="append2(); return false;">
      Submit comment
    </button> 
  </form>

  </div>

  <div class="container-fluid all" style="margin-left:30%">
    <div class="row well">
      <div class="col-md-12 " id="city">
        <h2 class="text-center">Weather for</h2>
        <h2 class="text-center data-item" id="city-text"></h2>
      </div>

      <div class="row">
        <div class="col-md-4 " id="weather">
          <img src="" id="weatherImg" class="center-block">
          <h3 class="text-center data-item" id="weather-text"></h3>
        </div>
        <div class="col-md-4 " id="temp">
          <h3 class="text-center">Temperature</h3>
          <h3 class="text-center data-item" id="temp-text"></h3>
          <div class="checkbox text-center">
            <label><input type="checkbox" id="tempMode" value="2">
          C&deg
        </label>
          </div>
        </div>
        <div class="col-md-4 " id="wind">
          <h3 class="text-center">Wind Speed</h3>
          <h3 class="text-center data-item" id="wind-text"></h3>
        </div>
      </div>
    </div>
  </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

  <footer>
    <div class="footer-social-icons">
    <h4 class="_14">Follow us on</h4>
    <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
    </div>
  </footer>
</body>
</html>