<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Karan's Blog</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  </head>
  <body>
    <!-- Page Header -->
    <header>
      <div class="site-heading">
        <h1 id = "divheader">Karan's Blog</h1>
        <div class ="topnav">
          <a href="/index">Home</a>
          <a href="/contact">Contact</a>
          <a href="/about">About Me</a>
      </div>
      </div>
    </header>
    <div class="articles">
      <a href="/blog/8-experiments-in-motivation">
      <h1>8 Experiments in Motivation</h1>
      <h3>By Leo Babauta</h3>
      </a>
    </div>
    <hr>
    
    <div class="articles">
      <a href="/blog/a-mindful-shift-of-focus">
      <h1>A mindful shift of focus</h1>
      <h3>By Leo Babauta</h3>
      </a>
    </div>
    <hr>
    
    <div class="articles">
      <a href="/blog/how-to-develop-an-awesome-sense-of-direction">
      <h1>How to Develop an Awesome Sense of Direction</h1>
      <h3>By Leo Babauta</h3>
      </a>
    </div>
    <hr>
    
    <div class="articles">
      <a href="/blog/training-to-be-a-good-writer">
      <h1>Training to Be a Good Writer</h1>
      <h3>By Leo Babauta</h3>
      </a>
    </div>
    <hr>

    <div class="articles">
      <a href="/blog/what-productivity-systems-wont-solve">
      <h1>What Productivity Systems Won't Solve</h1>
      <h3>By Leo Babauta</h3>
      </a>
    </div>
    <hr>


  <footer>
    <div class="footer-social-icons">
    <h4 class="_14">Follow us on</h4>
    <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
    </div>
  </footer>

    </body>
  </html>

